<div class="host" *ngIf="operation" (click)="exit.emit(index)">
    <div class="dialog" (click)="$event.stopPropagation()">
        <label>
            Operation #
            <input type="number" step="1" min="0" [value]="index" (change)="index=+$event.target.value" />
        </label>
        <div>
        <button type="button" *ngFor="let gate of gates" [class.selected]="gate.name===operation.gateName"
            (click)="changeGate(gate.name)">{{gate.name?gate.name:'|'}}</button>
        </div>
        <label *ngFor="let i of operation.qi; let ii=index">
            Input #{{ii}} is assigned to qubit #
            <input type="number" step="1" min="0"  [value]="i"
                (change)="operation.qi[ii]=+$event.target.value" />
        </label>
        <button type="button" (click)="exit.emit(index)">OK / Close</button>
    </div>
</div>
