<div [hidden]="cookies">
    This page does not use any cookies now. To save your program in your browser for your further visits, you have to
    accept cookies:
    <button type="button" (click)="cookies=true">Agree</button>
</div>
<div [hidden]="!cookies">
    You agreed in the past, that this page is using cookies! If you want to revoke it:
    <button type="button" (click)="cookies=false">Revoke cookies</button>
</div>
<section>
    <h1>Online quantum computer simulator in your browser!</h1>
    <ul>
        <li>Online quantum computer simulator implementation, free for use for everyone.</li>
        <li>Initially all qubits are |0></li>
        <li>The computer scale-up automatically as you add new operations</li>
        <li>
            For simulation time issue, try to keep the quantity of qubits low (more then 16 qubits requires some
            noticeable amount of time to simulate, every qubit more makes the simulation about twice that slow)
        </li>
        <li>Your program is not send to the server - it is running in your web-browser</li>
        <li>Clear UI - hopefully great UX</li>
        <li>This application is mobile friendly (regarding the UI, because regarding the CPU usage during a big
            simulation it is far away to be mobile-friendly)</li>
        <li>
            This article helped a lot to implement this tool:
            <a
                href="https://en.wikipedia.org/wiki/Quantum_logic_gate">https://en.wikipedia.org/wiki/Quantum_logic_gate</a>
        </li>
    </ul>
</section>

<section>
    <h2>Program in list of quantum operations</h2>
    <p>
        This is like an assembler representation of the current quantum program.
    </p>
    <app-default-gate [defaultGateName]="defaultGateName" (change)="defaultGateName=$event.target['value']">
    </app-default-gate>
    <table>
        <tbody>
            <tr>
                <th>Operation#</th>
                <th>Gate type</th>
                <th>Connected Qubits</th>
            </tr>
            <tr *ngFor="let operation of program; let i=index" [class.invalid]="errorMap.has(i)">
                <td>#{{i}}</td>
                <td>{{operation.gn}}</td>
                <td>{{getOperationQubitIndexes(operation.qi)}}</td>
                <td>
                    <button type="button" (click)="addOperation(i,undefined)">Add before</button>
                    <button type="button" (click)="editOperation(i)">Edit</button>
                    <button type="button" (click)="deleteOperation(i)">Delete</button>
                </td>
                <td>{{errorMap.get(i)}}</td>
            </tr>
            <tr>
                <td colspan="3">
                    <button type="button" (click)="addOperation(program.length,undefined)">Add new operation</button>
                </td>
            </tr>
        </tbody>
    </table>
</section>

<section *ngIf="errorMap.size===0">
    <h2>Program in 2D gates table representation</h2>
    <p>
        This representation shows what may be executed in parallel.
        The program is executed from top to bottom where next columns are next qubits in the virtual computer.
        Click into the table on an empty field to a add new operation/gate.
        Click into the table on an existing operation/gate to edit it.
    </p>
    <app-default-gate [defaultGateName]="defaultGateName" (change)="defaultGateName=$event.target['value']">
    </app-default-gate>
    <div style="display: block; overflow-x: auto;">
        <table style="width: auto;">
            <tbody>
                <tr>
                    <th>Step#</th>
                    <th *ngFor="let i of getIndexes(qubitsQuantity)" style="min-width: 88px;">
                        <div class="column">
                            <button type="button" type="button" (click)="addQubitBefore(i)">Add before</button>
                            QuBit#{{i}}
                            <button type="button" (click)="deleteQubit(i)">Delete</button>
                        </div>
                    </th>
                    <th>New qubit</th>
                </tr>
                <tr *ngFor="let step of programGUI; let i=index ">
                    <td>#{{i}}</td>
                    <td *ngFor="let guiGate of step; let j=index">
                        <app-gate [gate]="guiGate" (click)="changeOperation(guiGate,i,j)"></app-gate>
                    </td>
                    <td style="min-width: 240px;">
                        <button type="button" (click)="addStep(i)">Add step before</button>
                        <button type="button" (click)="deleteStep(i) ">Delete step</button>
                    </td>
                </tr>
                <tr *ngIf="quickResult">
                    <th>Prop.:</th>
                    <th [colSpan]="qubitsQuantity">Results:</th>
                </tr>
                <tr *ngFor="let r of quickResult">
                    <td>{{r.propability * 100 | number: '.0-1'}}%</td>
                    <td *ngFor="let i of r.values">{{i?1:0}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <button type="button" (click)="complem()">Complementary the program</button>
    <button type="button" (click)="simulate()">Simulate</button>
</section>

<section>
    <label>
        <h2>Program represents the operations in JSON</h2>
        <textarea (input)="setProgramJson($event.target['value'])" [value]="programJson"
            [class.invalid]="jsonError"></textarea>
    </label>
    <button type="button" (click)="simulate()">Simulate</button>
    <p>You can copy&paste the JSON code to save&restore your programs. You can also try examples:</p>
    <ul>
        <li>
            Produce 2 entangled qubits:
            <span class="code">{{'[{"gn":"H","qi":[0]},{"gn":"CX","qi":[0,1]}]'}}</span>
        </li>
        <li>
            <p>
                Teleport |0> from Q#0 to Q#2 (in reality the last two conditional operations are being sent through a
                traditional communication channel):
                <span class="code">
                    {{'[{"gn":"H","qi":[1]},{"gn":"CX","qi":[1,2]},{"gn":"CX","qi":[0,1]},{"gn":"H","qi":[0]},{"gn":"CX","qi":[1,2]},{"gn":"CZ","qi":[0,2]}]'}}
                </span>
            </p>
            <p>
                Teleport |1> from Q#0 to Q#2 (in reality the last two conditional operations are being sent through a
                traditional communication channel):
                <span class="code">
                    {{'[{"gn":"X","qi":[0]},{"gn":"H","qi":[1]},{"gn":"CX","qi":[1,2]},{"gn":"CX","qi":[0,1]},{"gn":"H","qi":[0]},{"gn":"CX","qi":[1,2]},{"gn":"CZ","qi":[0,2]}]'}}
                </span>
            </p>
        </li>
    </ul>
</section>

<section>
    <h2>Results</h2>
    <div class="flex">
        <section *ngFor="let result of results; let i=index">
            <h3>
                Sumulation #{{result.id+1}}
                <button type="button" *ngIf="!result.canceled && !result.results"
                    (click)="cancelSimulation(i)">Cancel</button>
                <span *ngIf="result.canceled">(canceled)</span>
            </h3>
            <ul>
                <li>Simulation started: {{result.startTime.toLocaleTimeString()}}</li>
                <li>Number of qubits: {{result.qubitsQuantity}}</li>
                <li>Number of operations: {{result.operationsQuantity}}</li>
                <li [hidden]="result.results">Progress: {{result.progress*100 | number:'.1-2'}}%</li>
                <li *ngIf="result.results">End time: {{result.endTime.toLocaleTimeString()}}; simulation time:
                    {{result.endTime.getTime()-result.startTime.getTime()}}ms</li>
                <li *ngIf="result.callback">The result will be send to: {{result.callback}}&lt;RESULT_AS_URI_ENCODED_JSON&gt;</li>
            </ul>
            <div *ngIf="result.results">
                Results:
                <table>
                    <tbody>
                        <tr>
                            <th>Prop.</th>
                            <th *ngFor="let i of getIndexes(result.qubitsQuantity)">Q#{{i}}</th>
                        </tr>
                        <tr *ngFor="let r of result.results">
                            <td>{{r.propability * 100 | number:'.0-1'}}%</td>
                            <td *ngFor="let qv of r.values">{{qv?1:0}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
    </div>
</section>

<section>
    <h2>All available gates:</h2>
    <div class="flex">
        <app-gate-view *ngFor="let gate of gates" [gate]="gate"></app-gate-view>
    </div>
</section>

<section>
    <h2>API</h2>
    <p>
        To run the calculations automatically, for example by a programs generator, you can use the API.
        Simply open the browser with a program in JSON, as a parameter in the link:
        <span class="code">{{selfLink}}#{{programJson}}#http://localhost:8080/?results=</span>
    </p>
    Parameters are hash character ("#") separated and they are like:
    <ul>
        <li>Program in JSON - list of operations/applied gates (required)</li>
        <li>
            Callback address to be called with the results at the end, encoded as JSON with URI encoding around.
            Remember that your local server would allow the origin, otherwise there would be a CORS violation exception.
            (optional)
        </li>
    </ul>
</section>

<section>
    <h2>Feedback</h2>
    <form method="POST" action="/assets/feedback.php?app=qcs" autocomplete="off" target="feedback-result">
        <label>
            Here you can enter you constructive feedback:
            <textarea required minlength="2" maxLength="2000" name="feedback"></textarea>
        </label>
        <input type="submit">
    </form>
    <iframe name="feedback-result"></iframe>
</section>

<section>
    <h2>Legal</h2>
    <section>
        <h3>Cookies policy</h3>
        <p>
            This site uses cookies only when the user accepts it.
            This site uses cookies only to save the user program for the further usages.
            There is one property in local storage used in case the user consent to cookies: program
            - that contains the JSON representation of the user program.
        </p>
    </section>
    <section>
        <h3>Private policy</h3>
        <p>
            This site does not save any sensitive data.
            The optional cookies are not used to identify the user, but only to save the current users operations/gates
            sequence for future usage.
            All calculations and data are performed and processed in the user web-browser that runs this site.
            The software is saving the submitted user feedback together with the sending time. 
            Providing sensitive data in the feedback field is forbidden.This site calculates the number of visits only
            based on the number of page loading, and does not save any user data for it, does not use cookies for it.
        </p>
        <p>
            Constructive feedback and bug reporting are very welcome, but please do not send any sensitive data.
        </p>
    </section>
    <section>
        <h3>Conditions & licence</h3>
        <p>
            THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND.
            The software (nor its author) does not take responsibility for anything, including calculations results.
            The software is free to use, but not free to copy or modify.
            Modifications to the software are not allowed.
            The software (nor its author) does not take any responsibility for external links.
        <p>
            Usage of this software for scientific purposes is fully allowed and welcomed, but for any scientific thesis
            that uses this software, please refer to this software and to its author.
        </p>
        <p>
            <a href="/3rdpartylicenses.txt">The software uses 3rd party dependencies. To see its licences click
                here.</a>
            Copyright © All rights reserved
        </p>
    </section>
</section>

<div>Visits: {{visits}}</div>

<app-operation [program]="program" [index]="currentOperationIndex" (exit)="exitOperation()"></app-operation>
