.flex {
    display: flex;
    flex-wrap: wrap;
}

.column {
    display: flex;
    flex-direction: column;
}

.invalid {
    background-color: #faa;
}

iframe {
    height: 64px;
    width: 100%;
    border: none;
}
