<section *ngIf="prod" style="position:fixed;top:0;right:0;bottom:0;left:0;background-color: #FFF;">
    <h1>Page under development</h1>
</section>

<section>
    <h1>Quantum Computer Simulator in Your browser!</h1>
    Quantum computer simultor implementation, free for use for everyone.
    <div [hidden]="cookiesEnabled">
        To save your program in your browser you have to accept cookies:
        <button (click)="enableCookies()">Agree</button>
    </div>
    <div [hidden]="!cookiesEnabled">
        You agreed that this page is using cookies! If you want to revoke it:
        <button (click)="disableCookies()">Revoke cookies</button>
    </div>
</section>

<section>
    <h2>Here is your program in GUI:</h2>
    <table>
        <tbody>
            <tr>
                <th>Step#</th>
                <th *ngFor="let i of qubitsIndexes">Q{{i}}<button (click)="deleteQubit(i)">Delete</button></th>
                <th>
                    <button (click)="addQubit()">Add qubit</button>
                </th>
            </tr>
            <tr *ngFor="let step of program; let i=index ">
                <td>{{i}}</td>
                <td *ngFor="let gateName of step; let j=index" [colspan]=1>
                    <app-gate [gateName]="gateName" (selectGateName)=" selectGate($event, i, j) "></app-gate>
                </td>
                <td><button (click)="deleteStep(i) ">Delete step</button></td>
            </tr>
            <tr>
                <td [colSpan]="qubitsIndexes.length+2 ">
                    <button style="width: 100%; " (click)=" addStep() ">Add step</button>
                </td>
            </tr>
        </tbody>
    </table>
</section>

<section>
    <h2>Here is your quantum program in JSON:</h2>
    <textarea>{{programJson}}</textarea>
</section>


<section>
    <h2>Feedback</h2>
    <textarea></textarea>
    <button>Submit!</button>
</section>

<section class="fixed-bottom ">
    <div class="progress-bar ">
        <div class="progress absolute " [style.width]="getProgess()+ '%' "></div>
        <span *ngIf=progress class="progress-text ">Progress: {{getProgess()|number:'.1-1'}}%</span>
    </div>
    <button>Simulate (shortcut TBD)</button>
</section>