<p>This is like an assembler representation of the current quantum program.</p>
<div class="table-scroll">
    <table>
        <tbody>
            <tr>
                <th>Operation#</th>
                <th>Gate type</th>
                <th>Connected Qubits</th>
            </tr>
            <tr>
                <td colspan="3"><button type="button" (click)="addOperation(0)">+</button></td>
            </tr>
            <tr *ngFor="let validatedOperation of validatedOperationsService.validatedOperations; let i=index"
                [style.background-color]="validatedOperation.gate?.color" class="cursor-pointer"
                [class.invalid]="validatedOperation.error" (click)="operationIndex.emit(i)">
                <td>#{{i}}</td>
                <td>{{validatedOperation.operation.gn}}</td>
                <td><span *ngFor="let qi of validatedOperation.operation.qi">{{qi}},</span></td>
                <td (click)="$event.stopPropagation()">
                    <button type="button" (click)="operationsService.remove(i)">-</button>
                    <button type="button" (click)="addOperation(i+1)">+</button>
                </td>
                <td>{{validatedOperation.error}}</td>
            </tr>
        </tbody>
    </table>
</div>
