/* You can add global styles to this file, and also import other style files */

textarea {
    width: 100%;
    min-height: 48px;
    height: 64px;
}

table {
    border-collapse: collapse;
    text-align: center;
}

th, td {
    border: 1px solid #777;
}

.code {
    width: 100%;
    word-break: break-all;
    word-wrap: break-word;
    border: 1px solid #444;
    background-color: #efe;
}
