/* You can add global styles to this file, and also import other style files */

body {
    font-family: sans-serif;
}

textarea {
    width: 100%;
    min-height: 48px;
    height: 64px;
}

table {
    border-collapse: collapse;
    text-align: center;
}

th, td {
    border: 1px solid #777;
}

.cursor-pointer{
    cursor: pointer;
}
